/* ==========================================================================
   居中宽度都为90%,使用此样式能快速搭建页面结构 细微样式需要自己手调
   ========================================================================== */


/*样式重置*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
    font-size: 100%;
}


/**
 * 移除默认的边距
 */

body {
    margin: 0;
    line-height: 1;
}

a {
    text-decoration: none;
    color: #333;
}

li,
ul,
ol {
    list-style-type: none
}


/**
 * 1. 设置默认无衬线的字体.
 * 2. 防止iOS文本大小调整方向改变后,没有禁用*用户放大.
 */

html {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: sans-serif;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}

button,
input,
select,
textarea {
    margin: 0;
    /* 3 */
    font-size: 100%;
    /* 2 */
    font-family: inherit;
    /* 1 */
    outline-offset: 0;
    /* 4 */
    outline-style: none;
    /* 4 */
    outline-width: 0;
    /* 4 */
    -webkit-font-smoothing: inherit;
    /* 5 */
    background-image: none;
    /* 6 */
}

button,
input {
    line-height: normal;
    -webkit-appearance: none;
    /*解决iphone safari上的圆角问题*/
}

button,
select {
    text-transform: none;
}


/**
 * 1. 删除默认的垂直滚动条在IE中8/9。
 * 2. 在所有的浏览器中提高可读性和对齐。
 */

textarea {
    overflow: auto;
    /* 1 */
    vertical-align: top;
    /* 2 */
}

img {
    -webkit-user-drag: none;
}


/**
 * 删除大多数表间距。
 */

table {
    border-spacing: 0;
    border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    font-weight: 500;
}


/* ==========================================================================
   响应式字体设计
   ========================================================================== */

html {
    font-size: 16px;
}

@media screen and (min-width: 375px) {
    html {
        /* iPhone6的375px尺寸作为16px基准，414px正好18px大小, 600 20px */
        font-size: calc(100% + 2 * (100vw - 375px) / 39);
        font-size: calc(16px + 2 * (100vw - 375px) / 39);
    }
}

@media screen and (min-width: 414px) {
    html {
        /* 414px-1000px每100像素宽字体增加1px(18px-22px) */
        font-size: calc(112.5% + 4 * (100vw - 414px) / 586);
        font-size: calc(18px + 4 * (100vw - 414px) / 586);
    }
}

@media screen and (min-width: 600px) {
    html {
        /* 600px-1000px每100像素宽字体增加1px(20px-24px) */
        font-size: calc(125% + 4 * (100vw - 600px) / 400);
        font-size: calc(20px + 4 * (100vw - 600px) / 400);
    }
}

@media screen and (min-width: 1000px) {
    html {
        /* 1000px往后是每100像素0.5px增加 */
        font-size: calc(137.5% + 6 * (100vw - 1000px) / 1000);
        font-size: calc(22px + 6 * (100vw - 1000px) / 1000);
    }
}


/* ==========================================================================
   常用的字体颜色及背景颜色
   ========================================================================== */

.bg-fff {
    background: #fff!important;
}

.bg-gray {
    background-color: #f8f8f8!important;
}

.bg-blue {
    background-color: #4a87ee!important;
}

.bg-green {
    background-color: #66cc33!important;
}

.bg-yellow {
    background-color: #f0b840!important;
}

.bg-red {
    background-color: #ef4e3a!important;
}

.bg-black {
    background-color: #444444!important;
}

.font-fff {
    color: #fff!important;
}

.font-gray {
    color: #f8f8f8!important;
}

.font-blue {
    color: #4a87ee!important;
}

.font-green {
    color: #66cc33!important;
}

.font-yellow {
    color: #f0b840!important;
}

.font-red {
    color: #ef4e3a!important;
}

.font-black {
    color: #444444!important;
}


/* ==========================================================================
   样式
   ========================================================================== */


/* 移动端边框1像素实现*/

.border-bottom {
    position: relative;
}

.border-bottom::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: rgb(222, 222, 222);
    transform: rotateX(60deg);
    -webkit-transform: rotateX(60deg);
    /* Safari 与 Chrome */
}

.border-top {
    position: relative;
}

.border-top::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: rgb(222, 222, 222);
    transform: rotateX(60deg);
    -webkit-transform: rotateX(60deg);
    /* Safari 与 Chrome */
}

.head-fixed {
    width: 100%;
    height: 3.125rem;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999999;
    background: #fff;
}

.head-fixed>h3,
.head>h3 {
    text-align: center;
    font-size: 1rem;
    color: #222;
    font-weight: 700;
    line-height: 3.125rem;
}

.head {
    width: 100%;
    height: 3.125rem;
    z-index: 9999999;
    background: #fff;
    position: relative;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 3.125rem;
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.footer-tabs {
    flex: 1;
    text-align: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    display: block;
    overflow: hidden;
    font-size: 0.875rem;
}

.footer-tabs>i {
    display: block;
    font-size: 1.4rem;
    color: rgb(83, 83, 83);
    margin: 0.3rem 0;
}

.footer-tabs>span {
    display: block;
    font-size: .75rem;
    color: #333;
}

.list-img {
    position: relative;
    width: 100%;
    min-height: 5.625rem;
    background: #fff;
}

.list-img::after {
    width: 100%;
    height: 1px;
    content: "";
    background: rgb(222, 222, 222);
    transform: rotateX(60deg);
    -webkit-transform: rotateX(60deg);
    position: absolute;
    left: 0;
    bottom: 0;
}

.list-img>a {
    width: 90%;
    margin: auto;
    display: block;
    padding: 0.625rem 0px;
    min-height: 4.375rem;
}

.list-img>a>img {
    position: absolute;
    left: 5%;
    top: 0.625rem;
    border: 1px solid #ccc;
    width: 4.375rem;
    height: 4.375rem;
}

.list-img>a>h3 {
    font-size: 0.875rem;
    color: #333;
    margin-bottom: 0.4rem;
    margin-top: 0.2rem;
    margin-left: 5rem;
    font-weight: 500;
}

.list-img>a>p {
    font-size: 0.75rem;
    color: #333;
    margin-left: 5rem;
}

.content {
    padding: 3.125rem 0 7rem 0;
}

.content-bottom {
    padding-bottom: 7rem;
}

.list {
    width: 100%;
    position: relative;
    padding: 0.625rem 0;
}

.list::before {
    width: 100%;
    height: 1px;
    content: "";
    background: rgb(222, 222, 222);
    transform: rotateX(60deg);
    -webkit-transform: rotateX(60deg);
    position: absolute;
    left: 0;
    bottom: 0;
}

.btn-max {
    width: 90%;
    height: 2.4rem;
    line-height: 2.4rem;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 1rem;
    border-radius: .2rem;
}

.banner {
    width: 100%;
    min-height: 7.5rem;
}

.banner img {
    display: block;
    width: 100%;
    height: auto;
}

.article {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 1rem 0;
    font-size: 0.75rem;
    color: #333;
    display: block;
    text-indent: 1.5rem;
    line-height: 1.25rem;
}

.label {
    padding: .1rem .3rem;
    border: 1px solid #ccc;
    color: #333;
    display: inline-block;
    font-size: 0.625rem;
    border-radius: .1rem;
    position: relative;
}

.icon-nav {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
}

.icon-nav-box {
    padding: .4rem 0;
    flex: 1;
    text-align: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    display: block;
    overflow: hidden;
    font-size: 0.625rem;
}

.icon-nav-box img {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    width: 50%;
    margin-bottom: .4rem;
}

.card {
    width: 90%;
    display: block;
    margin: 1rem auto;
    background: #fff;
    border-radius: .1rem;
    box-shadow: .1px 0.1px 2px #888;
}

.card>h3 {
    width: 100%;
    line-height: 2.4rem;
    font-size: 1rem;
    color: #333;
    position: relative;
    text-indent: 5%;
}

.card>p {
    line-height: 1.25rem;
    color: #333;
    font-size: 0.725rem;
    /* text-indent: 1.5rem; */
    margin: 0 auto;
    padding: .4rem 5%;
}

.card>h3::after {
    width: 100%;
    height: 1px;
    content: "";
    background: rgb(222, 222, 222);
    transform: rotateX(60deg);
    -webkit-transform: rotateX(60deg);
    position: absolute;
    left: 0;
    bottom: 0;
}

.card>h4 {
    width: 100%;
    line-height: 2.4rem;
    font-size: .8rem;
    color: #333;
    position: relative;
    text-indent: 5%;
}

.card>h4::before {
    width: 100%;
    height: 1px;
    content: "";
    background: rgb(222, 222, 222);
    transform: rotateX(60deg);
    -webkit-transform: rotateX(60deg);
    position: absolute;
    left: 0;
    top: 0;
}

.card-img {
    width: 90%;
    height: auto;
    overflow: hidden;
    display: block;
    margin: 1rem auto;
    background: #fff;
    border-radius: .1rem;
    box-shadow: .1px 0.1px 2px #888;
}

.card-img>img {
    width: 100%;
    min-width: 8.75rem;
    display: block;
}

.card-img>span {
    display: block;
    font-size: 0.875rem;
    padding: 0.8rem 5%;
    color: rgb(138, 138, 140);
}

.card-img>p {
    font-size: 1rem;
    color: #333;
    padding: 0rem 5%;
    line-height: 1.4rem;
    margin-bottom: .8rem;
}

.img-form {
    width: 100%;
    overflow: hidden;
    padding: 0.6rem 0;
    background: #fff;
}

.img-form>h3 {
    width: 100%;
    margin: 0 auto;
    font-size: 1rem;
    color: #333;
    text-indent: 5%;
    padding: 0.6rem 0;
}

.img-form-box {
    float: left;
    width: 45%;
    margin-left: 3.33%;
    text-align: center;
    border-radius: 0.1rem;
    overflow: hidden;
}

.img-form-box>img {
    display: block;
    width: 94%;
    height: auto;
    margin: 0 auto;
}

.img-form-box>p {
    font-size: 0.8rem;
    line-height: 1.4rem;
    color: #333;
    padding: 0.4rem 0;
}

.form {
    display: block;
    background: #fff;
    width: 100%;
    height: auto;
    padding: 1rem 0;
}

.form button {
    margin: 1rem auto;
}

.form-box {
    width: 90%;
    height: 3rem;
    background: #fff;
    margin: 0 auto;
    position: relative;
}

.form-box>label {
    line-height: 3rem;
    color: #444;
    display: block;
    position: absolute;
    left: 0;
    width: 25%;
    font-size: 1rem;
}

.login-user {
    /* width: 90%; */
    display: block;
    height: 3rem;
    width: 75%;
    /* background: #ccc; */
    color: #333;
    font-size: 0.875rem;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0;
    text-indent: .2rem;
}